Package: manokwari-gnome-shell-extension
Version: 0.1.0-1
Architecture: all
Maintainer: BlankOn Linux <blankon-dev@googlegroups.com>
Installed-Size: 87
Depends: gnome-shell (>= 49~)
Section: gnome
Priority: optional
Homepage: https://blankonlinux.id
Description: Manokwari GNOME Shell Extension
 A GNOME Shell extension for BlankOn Linux that provides
 the Manokwari desktop experience.
