#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/manokwari-gnome-shell-extension/usr/share/gnome-shell/extensions/manokwari@blankonlinux.id
	install -m 644 extension.js $(CURDIR)/debian/manokwari-gnome-shell-extension/usr/share/gnome-shell/extensions/manokwari@blankonlinux.id/
	install -m 644 metadata.json $(CURDIR)/debian/manokwari-gnome-shell-extension/usr/share/gnome-shell/extensions/manokwari@blankonlinux.id/
	install -m 644 stylesheet.css $(CURDIR)/debian/manokwari-gnome-shell-extension/usr/share/gnome-shell/extensions/manokwari@blankonlinux.id/
	install -d $(CURDIR)/debian/manokwari-gnome-shell-extension/usr/share/gnome-shell/extensions/manokwari@blankonlinux.id/assets
	install -m 644 assets/logo-white.png $(CURDIR)/debian/manokwari-gnome-shell-extension/usr/share/gnome-shell/extensions/manokwari@blankonlinux.id/assets/
	# Install dconf settings for global user configuration
	install -d $(CURDIR)/debian/manokwari-gnome-shell-extension/etc/dconf/db/local.d
	install -m 644 debian/dconf/db/local.d/00-manokwari-global-behaviours $(CURDIR)/debian/manokwari-gnome-shell-extension/etc/dconf/db/local.d/
	install -d $(CURDIR)/debian/manokwari-gnome-shell-extension/etc/dconf/profile
	install -m 644 debian/dconf/profile/user $(CURDIR)/debian/manokwari-gnome-shell-extension/etc/dconf/profile/
