#!/usr/bin/make -f

PKG_BLANKON = praya-gnome-shell-extension
PKG_GENERIC = praya-gnome-shell-extension-generic

%:
	dh $@

override_dh_auto_build:
	make build-mo

override_dh_auto_install:
	# ---- BlankOn variant (extension + distro integration) ----
	debian/install-extension.sh $(CURDIR)/debian/$(PKG_BLANKON) 0
	install -d $(CURDIR)/debian/$(PKG_BLANKON)/usr/share/glib-2.0/schemas
	install -m 644 debian/10_praya.gschema.override $(CURDIR)/debian/$(PKG_BLANKON)/usr/share/glib-2.0/schemas/
	install -d $(CURDIR)/debian/$(PKG_BLANKON)/usr/lib/praya-extension
	install -m 755 debian/praya-update-user.sh $(CURDIR)/debian/$(PKG_BLANKON)/usr/lib/praya-extension/
	install -d $(CURDIR)/debian/$(PKG_BLANKON)/etc/skel/.config/autostart
	install -m 644 debian/praya-extension-update.desktop $(CURDIR)/debian/$(PKG_BLANKON)/etc/skel/.config/autostart/

	# ---- Generic variant (extension only, no BlankOn integration) ----
	debian/install-extension.sh $(CURDIR)/debian/$(PKG_GENERIC) 1
